/**************************************************************/
/*************************** MAIN CSS *************************/
/**************************************************************/

body {
    background-image: url("../images/wallpaper.jpg");
}

img {
    border-radius: .8em;
    border: 1px solid yellow;
}

#demo,
.demoHeaders {
    font-family: Verdana, Arial, 'sans-serif';
    color: white;
    text-align: center;
}

.yellow {
    color: yellow;
}

#thanksSubmit {
    margin-top: 80px;
}

#fix_error_margin {
    margin-top: 3em;
    margin-botttom: 0.5em;
}

.info {
    margin-top: 4em;

}